.Dashboard {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid steelblue;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}

.Dashboard button {
  width: 22%;
  height: 40px;
  background: rgba(70, 131, 180, 0.146);
  color: steelblue;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  font-weight: 500;
  transition: all 0.1s;
}

.Dashboard button:hover {
  background: rgba(70, 131, 180, 0.996);
  color: #fff;
}
